<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="is-size-5 has-text-primary has-text-weight-bold">SDGAProcure</h1>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/documentation/overview/start/">
          About Procurements
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/">
            General Guidelines
          </a>
          <a class="navbar-item" href="/">
            Terms and Conditions
          </a>
        </div>
      </div> 
      <a class="navbar-item" href="/about-sdgap">
        About SDGAP
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" href="mailto:feh@dai.com">
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
              <span>Contact Us</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>