<section class="section">
  <div class="container is-fluid">
  <table class="table is-widescreen is-bordered is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Reference Number</th>
        <th>Posted</th>
        <th>Deadline</th>
        <th>Download</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Reference Number</th>
        <th>Posted</th>
        <th>Deadline</th>
        <th>Download</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th>RFP</th>
        <td>Event Rapporteur Services</td>
        <td>BPA-RFP-0002</td>
        <td>May 7, 2018</td>
        <td>May 18, 2018</td>
        <td class="download"><a class="button is-primary"><span class="icon"><i class="fas fa-download"></i></span><span>Download</span></a></td>
      </tr>
      <tr>
        <th>RFP</th>
        <td>Event Rapporteur Services</td>
        <td>BPA-RFP-0002</td>
        <td>May 7, 2018</td>
        <td>May 18, 2018</td>
        <td class="download"><a class="button is-primary"><span class="icon"><i class="fas fa-download"></i></span><span>Download</span></a></td>
      </tr>
      <tr>
        <th>RFP</th>
        <td>Event Rapporteur Services</td>
        <td>BPA-RFP-0002</td>
        <td>May 7, 2018</td>
        <td>May 18, 2018</td>
        <td class="download"><a class="button is-primary"><span class="icon"><i class="fas fa-download"></i></span><span>Download</span></a></td>
      </tr>
      <tr>
        <th>RFP</th>
        <td>Event Rapporteur Services</td>
        <td>BPA-RFP-0002</td>
        <td>May 7, 2018</td>
        <td>May 18, 2018</td>
        <td class="download"><a class="button is-primary"><span class="icon"><i class="fas fa-download"></i></span><span>Download</span></a></td>
      </tr>
      <tr>
        <th>RFP</th>
        <td>Event Rapporteur Services</td>
        <td>BPA-RFP-0002</td>
        <td>May 7, 2018</td>
        <td>May 18, 2018</td>
        <td class="download"><a class="button is-primary"><span class="icon"><i class="fas fa-download"></i></span><span>Download</span></a></td>
      </tr>
    </tbody>
  </table>
  </div>
</section>