<section class="section">
  <div class="container is-fluid">
  <h2 class="is-size-4 is-text-weight-bold">Procurement Notices</h2>
  <table class="table is-widescreen is-bordered is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Reference Number</th>
        <th>Posted</th>
        <th>Deadline</th>
        <th>Download</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Reference Number</th>
        <th>Posted</th>
        <th>Deadline</th>
        <th>Download</th>
      </tr>
    </tfoot>
    <tbody>
      {% for notice in site.notices %}
        <tr>
          <td>{{ notice.Type }}</td>
          <td>{{ notice.Title }}</td>
          <td>{{ notice.Reference-Number }}</td>
          <td>{{ notice.Posted-Date }}</td>
          <td>{{ notice.Deadline }}</td>
          <td class="download"><a class="button is-primary" href="{{ notice.File }}"><span class="icon"><i class="fas fa-download"></i></span><span>Download</span></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</section>