// Tables

td.download{
  vertical-align: middle;
}
.table thead th, .table tfoot th, .table tr td{
  text-align: center;
  vertical-align: middle;
}

img.image{
  width: 100%;
  margin: 1rem 0 1rem 0;
}