

@import "vendor/bulma/utilities/initial-variables";
@import "vendor/bulma/utilities/functions";


// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// Use the new serif family
$family-primary: $family-serif;

$table-striped-row-even-background-color: #EBEBEB;
$primary: #0071bc;
$link: #205493;

@import "vendor/bulma"