---
---

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  {% include head.html %}
  <body>
  {% include nav.html %}
  <section class="section">
    <div class="container">
      <h1 class="title is-size-3">
        Strengthening Democratic Governance and Accountability Project (SDGAP) Procurement Stystem
      </h1>
      <p class="subtitle">
        Simple, open, and transparent project procurement.
      </p>
      
      {{ content }}

      {% include procurements-table.html %}
    
    </div>
  </section>
  </body>
</html>